#navbar {
  display: grid;
  grid-template-columns: auto 40px;
  align-content: center;
  align-items: center;
  background-color: #f5f5f5;
  padding: 20px;
}

#links {
    display: flex;
    justify-content: space-around;
}

#changeUserBtn {
  display: block;
  height: 40px;
  background-color: transparent;
  border-radius: 8px;
  padding: 6px;
  color: #252F3E;
  font-weight: 700;
  cursor: pointer;
}

#changeUserBtn:hover {
  border: 1px solid #252F3E ;
}

h1 {
    text-align: center;
}

#cards-container {
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
  margin: 40px 0;
}

.card {
  background-color: #e8ebf1;
  border-radius: 12px;
  padding: 20px;
  width: 250px;
  text-align: center;
  color: black;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Badge logo styling */
.card .badge {
  width: 80px;
  height: 80px;
  margin-bottom: 15px;
}


.card.aws:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(255, 102, 0, 0.4);
}

.card.terraform:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(107, 91, 149, 0.4);
}

.card h2 {
  margin-bottom: 8px;
  font-size: 22px;
}

@media (max-width: 768px) {
    #cards-container {
        display: grid;
        grid-template-columns: auto;
    }
}