#navbar {
  display: grid;
  grid-template-columns: 135px auto 40px;
  align-content: center;
  align-items: center;
  background-color: #5c4ee5;
  padding: 20px;
}

#changeUserBtn {
  display: block;
  height: 40px;
  background-color: transparent;
  border-radius: 8px;
  padding: 6px;
  color: white;
  font-weight: 700;
  cursor: pointer;
}

#changeUserBtn:hover {
  border: 1px solid white ;
}

#nextBtn, #backToMenu {
  background-color: #5c4ee5;
  color: white;
}
#nextBtn:hover, #backToMenu:hover { background-color: #7925E8; }
